{% extends 'home.html' %}

{% block container %}
  <div class="top-pad">
    <form
        class="form-horizontal"
        method="POST"
        action="{{ url_for('create_product') }}"
        role="form">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
        <input name="name" type="text" id="name" class="form-control input-lg"/>
        </div>
      </div>

      <div class="form-group">
        <label for="price" class="col-sm-2 control-label">Price</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="price" name="price">
        </div>
      </div>
      <div class="form-group">
        <label for="category" class="col-sm-2 control-label">Category</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="category" name="category">
        </div>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
{% endblock %}


{% block scripts %}
<script>
//
$(document).ready(function autoc1(){
    
    // jquery works in html file but not separate file
    // https://www.codecademy.com/forum_questions/5438227f8c1ccc12e6000037
    
    // in seperate .js file i got this error. just put in the scripts block. David Gleba 2016-03-10 03:19PM
    // http://localhost:5000/%7B%7Burl_for('_autocomplete')%7D%7D?q=a 404 (NOT FOUND)
    // /%7B%7Burl_for(' ')%7D%7D? 404 (NOT FOUND)

    $("#name")
    .autocomplete({
        source:function(request, response) {
            $.getJSON('{{url_for("ue_autocomplete")}}',{
                q: request.term, // in flask, "q" will be the argument to look for using request.args
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 1,
        select: function(event, ui) {
            console.log(ui.item.value); 
        }
    });
});
</script>
{% endblock %}

