{% extends 'admin/model/create.html' %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='jquery.signaturepad.css') }}" rel="stylesheet">
{% endblock %}
    
{% block tail %}
    {{ super() }}
    
    <script src="{{ url_for('static', filename='jquery.signaturepad.min.js') }}"></script>
      <script>
        $(document).ready(function() {
          $('.admin-form').signaturePad();
        });
      </script>
    <script src="{{ url_for('static', filename='json2.min.js') }}"></script>
  
{% endblock %}
