
/* David Gleba change brand to yellow as an example. 2016-02-08_Mon_23.13-PM */
.navbar-brand {
    background: yellow;
	}

/* Hide edit pencil, just use eye to view then hit edit tab. David Gleba  2016-02-08_Mon_23.13-PM */
.fa.fa-pencil.glyphicon.glyphicon-pencil {
    background: yellow;
    visibility: hidden;
	}