{% extends 'admin/model/create.html' %}

{% block head %}
    {{ super() }}
    <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
{% endblock %}

    
{% block tail %}
    {{ super() }}
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

    <script>
    //
    $(document).ready(function autotag_f1(){
        $("#tag_f1")
        .autocomplete({
            source:function(request, response) {
                $.getJSON('{{url_for("tag_f1_autocomplete")}}',{
                    q: request.term, // in flask, "q" will be the argument to look for using request.args
                }, function(data) {
                    response(data.matching_results); // matching_results from jsonify
                });
            },
            minLength: 1,
            select: function(event, ui) {
                console.log(ui.item.value); 
            }
        });
    });
    </script>
{% endblock %}


